.boxComponent {
    display: flex;
    background-color: rgb(201, 201, 201);
    align-items: center;
    justify-content: center;
    width: 140px;
    flex-direction: column;
}

.detailComponent {
    width: fit-content;
    overflow-y: auto;
    height: 225px;
}

.container {
    width: 99%;
    margin: auto;
}

.inbox {
    display: flex;
    border: 1px solid black;
}
