.boxComponent {
    display: flex;
    background-color: rgb(201, 201, 201);
    align-items: center;
    justify-content: center;
    width: 15%;
    flex-direction: column;
}

.detailComponent {
    width: 85%;
}

.container {
    width: 99%;
    margin: auto;
    display: flex;
    border: 1px solid black;
}