.activeFolder {
    background-color: rgb(103, 103, 253);
    color: white;
    padding-top: 5px;
}

.folder {
    padding-top: 5px;
}

.container {
    width: 100%;
    margin: auto;
    text-align: center;
}

.text {
    display: inline-flex;
    min-width: 60%;
}